

<div class="centering-container">

<div layout="row" flex layout-align="center center">
<div layout="column" layout-align="center">


<div class="content">

<h1>
  {{title}}
</h1>

<!-- <h2>Questions:</h2> -->
<!-- <ol class="questionanswerlist"> -->
<ol class="custom-counter">
	<li *ngFor="let question of questions" (click)="onSelect(question)">
		<span class="question">{{question.question}}</span>
        <div class="useranswer"><textarea class="textarea-default" rows="4" cols="80" placeholder="Type answer here please...">{{question.useranswer}}</textarea></div>
        <div class="answer">{{question.answer}}</div>
	</li>
</ol>

<div *ngIf="selectedQuestion">
	<h2>{{selectedQuestion.name}} details!</h2>
	<div><label>id: </label>{{selectedQuestion.id}}</div>
	<div>
	    <label>question: </label>
	    <input [(ngModel)]="selectedQuestion.question" placeholder="question"/>
	</div>
	<div>
	    <label>answer: </label>
	    <input [(ngModel)]="selectedQuestion.answer" placeholder="answer"/>
	</div>
</div>


</div><!-- END 'content' -->

</div>
</div>



</div><!-- END centering-container -->
