<h1>
  {{title}}
</h1>

<h2>Questions:</h2>
<ul class="questions">
	<li *ngFor="let question of questions" (click)="onSelect(question)">
		<span class="question">{{question.question}}<br />{{question.answer}}</span>
	</li>
</ul>

<div *ngIf="selectedQuestion">
	<h2>{{selectedQuestion.name}} details!</h2>
	<div><label>id: </label>{{selectedQuestion.id}}</div>
	<div>
	    <label>question: </label>
	    <input [(ngModel)]="selectedQuestion.question" placeholder="question"/>
	</div>
	<div>
	    <label>answer: </label>
	    <input [(ngModel)]="selectedQuestion.answer" placeholder="answer"/>
	</div>
</div>

<div id="testanchor">
  This is a test of linking from an external website/webpage/app to a specific part of this webpage/app.
</div>

