<div class="question" style="border: 0px solid red;">
		<span class="questiontitle">{{question.title}}</span>
        <div class="multiplechoiceanswers">

			<div
				id="{{answer.id}}"
				*ngFor="let answer of question.getAnswers();"
			 	class="multiplechoiceanswer" 
			 	(click)="selectOnlyThisAnswer($event)"
				>
				{{answer.title}}
			</div>

        </div>

        <div 
			[ngClass]="{'notvisible': !question.wasAnswered(), 
					'correct':question.wasCorrect(),
					'incorrect':!question.wasCorrect()}" 
			class="answer" 
			style="">
            		<i 	[ngClass]="{'fa-check-circle-o': question.wasCorrect(), 
									'fa-times-circle': !question.wasCorrect()}" 	
						class="fa fa-3x" 
						aria-hidden="true"></i>
							{{question.answer}}
        </div>
</div>

