

<div class="question" style="border: 0px solid red;">
		<span class="questiontitle">{{question.title}}</span>

<div class="wrapper">

<div class="conjugations-container">
    <div id="colone" class="questiontext">
    {{question.text}}
    </div>

    <div id="coltwo">
        <div class="useranswer">
        <textarea   id="useranswer" #focusThis
					style=""
                    [(ngModel)]="question.useranswer" 
                    [disabled]="question.wasAnswered()"
                    [ngClass]="{'disabled': question.wasAnswered()}"
                    class="textarea-default" rows="1" cols="20" placeholder="Type answer here...">
        </textarea>
        </div>
    </div>
</div>

</div><!-- END WRAPPER -->



        <div 
			[ngClass]="{'notvisible': !question.wasAnswered(), 
					'correct':question.wasCorrect(),
					'incorrect':!question.wasCorrect()}" 
			class="answer" 
			style="">
            		<i 	[ngClass]="{'fa-check-circle-o': question.wasCorrect(), 
									'fa-times-circle': !question.wasCorrect()}" 	
						class="fa fa-3x" 
						aria-hidden="true"></i>
							{{question.answer}}
        </div>
</div>

